body {
    font-family: 'Edu TAS Beginner', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('193233774-gingham-pattern-set-floral-checked-plaids-in-pink-white-seamless-pastel-vichy-tartan-backgrounds.jpg') no-repeat center center fixed;
    background-size: 1109px 724px;
    transition: background 0.3s;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    font-weight: bold;
}

.task-entry {
    margin-bottom: 20px;
}

.task-entry input, .task-entry select, .task-entry button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

.task-entry button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.task-entry button:hover {
    background-color: #45a049;
}

.task-list ul {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f9f9f9;
    margin: 5px 0;
    border-radius: 5px;
    transition: transform 3s;
}

.task-list li.complete {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-list li .actions button {
    margin-left: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
}

#mode-toggle {
    margin-top: 20px;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#mode-toggle.light-mode {
    background: #f0f0f0;
    color: #333;
}

body.dark {
    background: #333;
    color: white;
}

body.dark .container {
    background: rgba(0, 0, 0, 0.8);
}

body.dark #mode-toggle {
    background: #f0f0f0;
    color: #333;
}





